body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

h1 {
    color: #38bdf8;
}

.alert {
    background: red;
    padding: 10px;
    margin: 5px;
    list-style: none;
}
